
@import "tailwindcss";
@font-face {
    font-family: Monument;
    src: url("../src/assets/fonts/MonumentExtended-Regular.otf");
}
@font-face {
    font-family: Moderat;
    src: url("../src/assets/fonts/Moderat-Medium.woff");
}
@theme{
    --font-monument: Monument, "sans-serif";
    --font-moderat: Moderat, "sans-serif";
}
.border-radius-custom .ant-select-selector{
 border-radius:0px !important;
  background: #000 !important;
  border: 0px !important;
  font-size: 12px !important;
  line-height: 22px;
}
.container{
 max-width: 1340px;
 margin: 0 auto;
}
@media only screen and (min-width: 1600px) {
  .container{
        max-width: 1800px;
        margin: 0 auto;
    }
}