@import "tailwindcss";

/* Optional: smooth button transitions */
button {
  @apply transition-colors duration-200;
}

@font-face {
  font-family: Monument;
  src: url("../src/assets/fonts/PPMonumentExtended-Regular.otf");
}
@font-face {
  font-family: Moderat;
  src: url("../src/assets/fonts/Moderat-Medium.woff");
}
@font-face {
  font-family: Moderat-Extended;
  src: url("../src/assets/fonts/Moderat-Extended-Medium.woff");
}
@font-face {
  font-family: Moderat-Regular;
  src: url("../src/assets/fonts/Moderat-Regular.ttf");
}
@font-face {
  font-family: Moderat-Bold;
  src: url("../src/assets/fonts/Moderat-Bold.woff");
}
@font-face {
  font-family: Moderat-Light;
  src: url("../src/assets/fonts/Moderat-Light.woff");
}
@font-face {
  font-family: Miller-Light;
  src: url("../src/assets/fonts/miller-banner-light.otf");
}

@theme {
  --font-monument: Monument, "sans-serif";
  --font-moderat: Moderat, "sans-serif";
  --font-moderat-medium: Moderat-Extended, "sans-serif";
  --font-moderat-regular: Moderat-Regular, "sans-serif";
  --font-moderat-bold: Moderat-Bold, "sans-serif";
  --font-moderat-light: Moderat-Light, "sans-serif";
  --font-miller-light: Miller-Light, "sans-serif";
}

.custom-field .ant-select-selector {
  border-radius: 0px !important;
  border: 0px !important;
  font-size: 12px !important;
  line-height: 22px;
}
.container {
  margin: 0 auto;
}
@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1700px;
    margin: 0 auto;
  }
}

.custom-field .ant-select-selector {
  background-color: #4f4c45 !important;
  color: white !important;
  border: none !important;
}

.ant-select-dropdown {
  padding: 0px !important;
}

.placeholder-white .ant-select-arrow {
  color: white !important;
}

.ant-carousel .slick-slide {
  padding: 0px 20px 0px 0px !important;
}

.ant-carousel .slick-list {
  padding: 0px 0px 0px -20px !important;
}
.custom-select-field .ant-select-selector {
  border: none !important;
}
.ant-collapse-header {
  padding-left: 0px !important;
}
.placeholder-white .ant-select-selection-placeholder {
  color: white;
}
.placeholder-white .ant-select-selection-item {
  color: white;
}

@media only screen and (max-width: 768px) {
  .ant-carousel .slick-slide {
    padding: 0px 20px 0px 0px !important;
  }

  .ant-carousel .slick-list {
    margin: 0px 0px 0px -20px;
  }
  .ant-tabs-nav-list {
    padding: 0px 50px;
  }
}

.custom-modal .ant-modal-content {
  padding: 0px !important;
}

p {
  margin: 0px;
}
.ant-checkbox-inner {
  border: solid 1px black;
  border-radius: 0px;
}
.custom-tabs .ant-tabs-content-holder {
  padding-top: 72px;
}
.custom-tabs .ant-tabs-tab {
  padding: 0px;
}

.custom-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #000 !important;
}

.custom-tabs .ant-tabs-ink-bar {
  background-color: #000 !important;
}

.custom-field .ant-input {
  border: none !important;
  font-family: Monument;
}

.custom-field .ant-select-selector {
  border: 0px;
  font-family: Monument;
  padding: 0px 24px;
  font-size: 10px;
}
.custom-field .ant-select-selection-item {
  font-size: 10px;
}
.inquiry-form .ant-input {
  background-color: #4f4c45 !important;
  color: white !important;
  border: none !important;
  border-radius: 0px;
  font-family: Monument;
  font-size: 10px;
  padding: 0px 24px;
}
.inquiry-form .ant-select-arrow {
  color: black;
}
.inquiry-form .ant-select-selection-placeholder {
  color: black;
  font-size: 10px;
}
.inquiry-form .ant-select-selector {
  border: 0px;
  font-family: Monument;
  padding: 0px 24px;
}

.custom-accordion .ant-collapse-content-box {
  padding-left: 0 !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.custom-accordion .ant-collapse-header img {
  transition: transform 0.3s ease;
}

.custom-accordion .ant-collapse-item-active .ant-collapse-header img {
  transform: rotate(180deg);
}
.footer-collapse {
  border: none;
}
.footer-collapse .ant-collapse-item {
  border-bottom: none;
}
.footer-collapse .ant-collapse-header {
  padding: 16px;
}
.footer-collapse .ant-collapse-header img {
  transition: transform 0.3s ease;
}

.footer-collapse .ant-collapse-item-active .ant-collapse-header img {
  transform: rotate(180deg);
}
.footer-collapse .ant-collapse-content-box {
  background-color: #4a443e;
}
.footer-collapse a {
  color: white;
}
.property-slider .swiper {
  padding: 0px !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: white;
}
.swiper-pagination-bullet-active {
  background-color: white;
}

.custom-menu .ant-menu-title-content {
  color: white !important;
}
.custom-menu .ant-menu-item-selected .ant-menu-title-content {
  color: #000 !important;
}
.custom-menu .ant-menu-item-active .ant-menu-title-content {
  color: #000 !important;
}
.custom-menu .ant-menu-submenu-active .menu-label {
  color: black !important;
}
.custom-menu .ant-menu-item-active .menu-label {
  color: black !important;
}
.skiptranslate .goog-te-gadget {
  display: none;
}
.skiptranslate {
  display: none;
}
.ant-modal {
  margin: auto;
}
